
.column-style {
    background-color: #32752D ;
    color:white;
    border: 10px #333333 solid;
}

.rowWrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: var(--row-bg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding:1em;
    border-radius: 1em;
}