
.customForm {
    display: flex;
    background-color: #B5B5B5 ;
    padding: 2%;
    width: 75%;
    margin: auto;
    border-radius: 1em;
}

.formTable{
    width: 75%;
    table-layout: fixed;
    margin-left: 13%
}

.formLabel{
    width: 100%;
    text-align: right;
}

.formInput{
    border-radius: 10px;
    border: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.formButtons{
    display: flex;
    width: 50%;
    margin:auto;
}

.warning {
    color: red;
    text-align: left;
    
}

